<section class="site-hero inner-page overlay" style="background-image: url(assets/img/sala.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center text-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <h1 class="heading">About Us</h1>
      </div>
    </div>
  </div>


 </section>
<!-- END section -->



<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2" data-aos="fade-up">
        <img src="assets/img/cris.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading">Hotel History</h2>
        <p class="lead">The San Gil hotel, located in the city of Rome, Italy, opens its doors to welcome visitors who wish to stay in comfortable rooms. We want to offer you an unforgettable experience.</p>
        <p class="mb-4">We wish you a happy stay in our hotel</p>

      </div>

    </div>
  </div>
 </section>

<section class="section">
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-md-6" data-aos="fade-up">
        <h2>Make Yourself Comfortable in Any of Our Fully Air-conditioned Rooms</h2>
      </div>
      <div class="col-md-6 text-right" data-aos="fade-up" data-aos-delay="200">
        <a href="reservation.html" class="btn btn-primary py-3 text-white px-5">Reserve Now</a>
      </div>
    </div>
  </div>
 </section>
