<header class="site-header">
  <ul class="nav nav-pills">
    <li class="col-4 site-logo" data-aos="fade">
      <a routerLink="./homee"><em>Hotel San Gil</em></a>
    </li>
    <li class="nav-item">
      <a class="bg-transparent nav-link text-white" routerLink="./homee"><em>Home</em></a>
    </li>
    <li class="nav-item">
      <a class="bg-transparent nav-link text-white" routerLink="./about"><em>About As</em></a>
    </li>
    <li class="nav-item">
      <a class="bg-transparent nav-link text-white" routerLink="./rooms"><em>Room & Rates</em></a>
    </li>
    <li class="nav-item">
      <a class="bg-transparent nav-link text-white" routerLink="./contact"><em>Contact</em></a>
    </li>
    <li class="nav-item">
      <a class="bg-transparent nav-link text-white" routerLink="./reservation"><em>Book Now</em></a>
    </li>

  </ul>
</header>
